html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  background-image: url("img/sitebg2.jpg");
  font-family: "Lato";
  font-size: 2.2rem;
  overflow: overlay;
}
* {
  margin: 0;
  padding: 0;
}
/* scroll tumb */
::-webkit-scrollbar {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgb(28, 28, 28);
  border-radius: 10px;
}
/* header nav bar */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: #060606;
  width: 100%;
}
#logo a h2 {
  color: white;
  padding-left: 18px;
  font-size: 3rem;
}
#logo a {
  text-decoration: none;
}
@media screen and (max-width: 700px) {
  .nav-bar ul {
    display: none;
    position: absolute;
    left: -100%;
  }
}
.nav-bar {
  list-style-type: none;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 4%;
}
.nav-bar ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 50px;
  margin-right: 50px;
}
.nav-bar a {
  color: white;
  text-decoration: none;
}
.nav-bar button {
  color: rgb(0, 0, 0);
  border: 1px solid #3e3f43;
  border-radius: 8px;
  background-color: white;
  font-size: 2.2rem;
  padding: 2px;
  cursor: pointer;
}
/* main content */
main {
  padding-top: 80px;
  padding-left: 260px;
  padding-bottom: 160px;
}
main h2 {
  color: white;
  padding: 20px;
}
.media-scroller {
  display: grid;
  gap: 25px;
  grid-auto-flow: column;
  padding-right: 40px;

  overflow-x: auto;
}
.media-scroller::-webkit-scrollbar {
  display: none;
}
.media-element {
  border-radius: 8px;
  background-color: rgb(16, 16, 16);
  padding: 20px;
}
.media-element img {
  border-radius: 8px;
  width: 130px;
  height: 130px;
}
.media-element p {
  font-size: 1.5rem;
  padding-top: 20px;
  color: white;
  text-align: center;
}
/* side bar */
@media screen and (max-width: 700px) {
  aside {
    margin-left: -1000px;
  }
  main {
    padding-left: 20px;
  }
}
aside {
  position: fixed;
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 225px;
  font-size: 2.1rem;
  z-index: -1;
}
.nav-side {
  margin-top: 40%;
}
aside a {
  color: rgb(190, 190, 190);
  text-decoration: none;
}
aside a:hover {
  color: rgb(255, 255, 255);
  transition: 0.4s;
}
aside ul li {
  list-style-type: none;
  margin: 25px 30px 25px;
}
.icon {
  width: 20px;
  color: white;
}
/* audio player */
.music {
  border-top: 1px #2c2c2d solid;
  position: fixed;
  justify-content: center;
  width: 100%;
  bottom: 0;
  background-color: rgb(12, 12, 12);
}
.title {
  color: white;
  text-align: center;
  padding: 7px;
  padding-top: 15px;
}
.progress-bar {
  background: #505050;
  height: 4px;
  border-radius: 5px;
  margin: auto;
  width: 50%;
}
.progress-bar div {
  width: 70%;
  height: 4px;
  background: white;
}
.btns {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 7%;
  padding: 15px;
  padding-bottom: 10px;
  color: white;
}
.btns span {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #3e3f43;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btns span:active {
  color: #3e3f43;
}
