html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  background-image: url("img/sitebg2.jpg");
  font-family: "Lato";
  font-size: 2.2rem;
  overflow: overlay;
}
* {
  margin: 0;
  padding: 0;
}
/* scroll tumb */
::-webkit-scrollbar {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgb(28, 28, 28);
  border-radius: 10px;
}
/* nav bar */
header {
  position: fixed;
  background-color: #060606;
  width: 100%;
}
.head-list {
  list-style-type: none;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
  gap: 70px;
}
.head-list a {
  color: white;
  text-decoration: none;
}
.head-list button {
  color: rgb(0, 0, 0);
  border: 1px solid #3e3f43;
  border-radius: 8px;
  background-color: white;
  font-size: 2.2rem;
  padding: 2px;
  cursor: pointer;
}
/* main content */
main {
  padding-top: 80px;
  padding-left: 260px;
  padding-bottom: 160px;
}
main h2 {
  color: white;
  padding: 20px;
}
.media-scroller {
  display: grid;
  gap: 25px;
  grid-auto-flow: column;
  padding-right: 40px;

  overflow-x: auto;
}
.media-scroller::-webkit-scrollbar {
  display: none;
}
.media-element {
  border-radius: 8px;
  background-color: rgb(16, 16, 16);
  padding: 20px;
}
.media-element img {
  border-radius: 8px;
  width: 160px;
  height: 160px;
}
.media-element p {
  padding-top: 20px;
  color: white;
  text-align: center;
}
/* side bar */
aside {
  position: fixed;
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 225px;
  font-size: 2.1rem;
}
aside a {
  color: rgb(190, 190, 190);
  text-decoration: none;
}
aside a:hover {
  color: rgb(255, 255, 255);
  transition: 0.4s;
}
aside h2 {
  color: white;
  padding: 15px;
}
aside ul li {
  list-style-type: none;
  margin: 25px 30px 25px;
}
.icon {
  width: 20px;
  color: white;
}
/* audio player */
.music {
  border-top: 1px #2c2c2d solid;
  position: fixed;
  justify-content: center;
  width: 100%;
  bottom: 0;
  background-color: rgb(12, 12, 12);
}
.title {
  color: white;
  text-align: center;
  padding: 7px;
  padding-top: 15px;
}
.progress-bar {
  background: #959595;
  height: 4px;
  border-radius: 5px;
  margin: auto;
  width: 40%;
}
.progress-bar div {
  width: 70%;
  height: 4px;
  background: white;
}
.btns {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 120px;
  padding: 15px;
  padding-bottom: 20px;
  color: white;
}
.btns span {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #3e3f43;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btns span:active {
  color: #3e3f43;
}
