body {
  box-sizing: border-box;
  background-image: url("img/sitebg2.jpg");
  font-family: "Lato";
  font-size: 22px;
  overflow: overlay;
}
* {
  margin: 0;
  padding: 0;
}
/* scroll tumb */
::-webkit-scrollbar {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgb(28, 28, 28);
  border-radius: 10px;
}
::-webkit-scrollbar-track-piece {
  margin-top: 65px;
  margin-bottom: 97px;
}
/* nav bar */
header {
  z-index: -1;
  position: fixed;
  background-color: #060606;
  width: 100%;
}
.head-list {
  list-style-type: none;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
  gap: 70px;
}
.head-list a {
  color: white;
  text-decoration: none;
}
.head-list button {
  color: rgb(0, 0, 0);
  border: 1px solid #3e3f43;
  border-radius: 8px;
  background-color: white;
  font-size: 22px;
  padding: 2px;
}
/* side bar */
aside {
  position: fixed;
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 225px;
}
aside a {
  color: rgb(190, 190, 190);
  text-decoration: none;
}
aside a:hover {
  color: rgb(255, 255, 255);
  transition: 0.4s;
}
aside h2 {
  color: white;
  padding: 15px;
}
aside ul li {
  list-style-type: none;
  margin: 25px 30px 25px;
}
.icon {
  width: 20px;
  color: white;
}
