html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  background-image: url("img/sitebg2.jpg");
  background-size: cover;
  font-family: "Lato";
  font-size: 2.2rem;
  overflow: overlay;
}
* {
  margin: 0;
  padding: 0;
}
/* scroll tumb */
::-webkit-scrollbar {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgb(28, 28, 28);
  border-radius: 10px;
}
/* header nav bar */
nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  background: #1a1a1a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  padding-top: 8px;
  padding-bottom: 3px;
  padding-left: 7px;
}
.logo a {
  text-decoration: none;
  color: white;
}
nav .mainMenu {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
}
.nav-side-in-head {
  left: -100%;
  display: none;
}
nav .mainMenu li a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 18px;
  transition: 0.2s ease;
}
nav .mainMenu button {
  color: rgb(0, 0, 0);
  border: 1px solid #3e3f43;
  border-radius: 8px;
  background-color: white;
  font-size: 2.2rem;
  padding: 2px;
  cursor: pointer;
}
nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}
nav .mainMenu .closeMenu,
.icons i {
  font-size: 3.5rem;
  display: none;
  cursor: pointer;
  color: white;
}
nav .logo {
  margin: 6px;
  cursor: pointer;
  text-transform: uppercase;
}
@media (max-width: 700px) {
  nav .mainMenu {
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    transition: top 1s ease 0s;
    display: none;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .nav-side-in-head {
    display: block;
  }
  nav .openMenu {
    display: block;
  }
  .icons i {
    display: inline-block;
    padding: 20px;
  }
}
/* main content */
main {
  padding-top: 80px;
  padding-left: 260px;
  padding-bottom: 160px;
}
main h2 {
  color: white;
  padding: 20px;
}
.media-scroller {
  display: grid;
  gap: 25px;
  grid-auto-flow: column;
  padding-right: 40px;

  overflow-x: auto;
}
.media-scroller::-webkit-scrollbar {
  display: none;
}
.media-element {
  border-radius: 8px;
  background-color: rgb(16, 16, 16);
  padding: 20px;
}
.media-element img {
  border-radius: 8px;
  width: 130px;
  height: 130px;
}
.media-element p {
  font-size: 1.5rem;
  padding-top: 20px;
  color: white;
  text-align: center;
}
/* side bar */
@media screen and (max-width: 700px) {
  aside {
    margin-left: -1000px;
  }
  main {
    padding-left: 20px;
  }
}
aside {
  position: fixed;
  background-color: rgb(13, 13, 13);
  height: 100%;
  width: 225px;
  font-size: 2.1rem;
}
.nav-side {
  margin-top: 40%;
}
aside a {
  color: rgb(190, 190, 190);
  text-decoration: none;
}
aside a:hover {
  color: rgb(255, 255, 255);
  transition: 0.4s;
}
aside ul li {
  list-style-type: none;
  margin: 25px 30px 25px;
}
.icon {
  width: 20px;
  color: white;
}
/* audio player */
.music {
  border-top: 1px #2c2c2d solid;
  position: fixed;
  justify-content: center;
  width: 100%;
  bottom: 0;
  background-color: #1a1a1a;
}
.title {
  color: white;
  text-align: center;
  padding: 7px;
  padding-top: 15px;
}
.progress-bar {
  background: #505050;
  height: 4px;
  border-radius: 5px;
  margin: auto;
  width: 50%;
}
.progress-bar div {
  width: 70%;
  height: 4px;
  background: rgb(255, 255, 255);
}
.progress-bar div span {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: white;
  float: right;
  margin-top: -6px;
  margin-right: -9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btns {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 7%;
  padding-bottom: 10px;
  margin-top: 15px;
  color: white;
  z-index: -1;
}
.btns span {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #3e3f43;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btns span:active {
  color: #3e3f43;
}
